In [618]:
import sqlite3
import pandas as pd

In [619]:
db_connect = sqlite3.connect('PawsomePets.db')
cursor = db_connect.cursor()

Creating Relations

In [620]:
#creating Clinic relation
createClinic = """CREATE TABLE Clinic(			
                  clinicNo VARCHAR(5) UNIQUE NOT NULL,
                  name VARCHAR(250) NOT NULL,
                  address VARCHAR(250) NOT NULL,
                  telephoneNumber INT UNIQUE NOT NULL
                    CONSTRAINT validClinicPhone 
                      CHECK (telephoneNumber BETWEEN 100000000 AND 9999999999),
                  PRIMARY KEY (clinicNo)
                );"""

cursor.execute(createClinic)

In [621]:
#creating Staff relation
createStaff = """CREATE TABLE Staff(			
                 staffNo VARCHAR(4) UNIQUE NOT NULL,
                 clinicNo INT NOT NULL,
                 name VARCHAR(250) NOT NULL,
                 address VARCHAR(250) NOT NULL,
                 telephoneNumber INT UNIQUE NOT NULL
                  CONSTRAINT validStaffPhone
                    CHECK (telephoneNumber BETWEEN 1000000000 AND 9999999999),
                 DOB DATE NOT NULL
                  CONSTRAINT validStaffDOB
                    CHECK (DOB <= date('now')),
                 position VARCHAR(250) NOT NULL,
                 salary INT NOT NULL,
                 PRIMARY KEY (staffNo),
                 FOREIGN KEY (clinicNo) REFERENCES Clinic(clinicNo) ON UPDATE CASCADE
              );"""

cursor.execute(createStaff)

In [622]:
#creating Owner relation
createOwner = """CREATE TABLE Owner(
                 ownerNo VARCHAR(5) UNIQUE NOT NULL,
                 name VARCHAR(5) NOT NULL,
                 address VARCHAR(5) NOT NULL,
                 telephoneNumber INT UNIQUE NOT NULL
                   CONSTRAINT validOwnerPhone
                     CHECK (telephoneNumber BETWEEN 1000000000 AND 9999999999),
                 PRIMARY KEY (ownerNo)
              );"""

cursor.execute(createOwner)

In [623]:
#creating Pet relation
createPet = """CREATE TABLE Pet(		
               petNo VARCHAR(4) UNIQUE NOT NULL,
               ownerNo VARCHAR(5) NOT NULL,
               clinicNo VARCHAR(5) NOT NULL,
               name VARCHAR(250),
               DOB DATE NOT NULL
                CONSTRAINT validPetDOB
                  CHECK (DOB < date('now')),
               species VARCHAR(250) NOT NULL,
               breed VARCHAR(50) NOT NULL,
               color VARCHAR(50) NOT NULL,
               PRIMARY KEY (petNo),
               FOREIGN KEY (ownerNo) REFERENCES Owner(ownerNo) ON UPDATE CASCADE 
               ON DELETE SET NULL,
               FOREIGN KEY (clinicNo) REFERENCES Clinic(clinicNo) ON UPDATE CASCADE
            );"""

cursor.execute(createPet)

In [624]:
#creating Examination relation
createExam = """CREATE TABLE Examination(
                examNo VARCHAR(4) UNIQUE NOT NULL,
                staffNo VARCHAR(4) NOT NULL,
                petNo VARCHAR(4) NOT NULL,
                chiefComplaint VARCHAR(250) NOT NULL,
                description VARCHAR(250) NOT NULL,
                dateSeen DATE NOT NULL
                  CONSTRAINT validExamDate
                    CHECK (dateSeen <= date('now')),
                actionsTaken VARCHAR(250),
                PRIMARY KEY (examNo),
                FOREIGN KEY (staffNo) REFERENCES Staff(staffNo) ON UPDATE CASCADE,
                FOREIGN KEY (petNo) REFERENCES Pet(petNo) ON UPDATE CASCADE
            );"""

cursor.execute(createExam)

Specifying Foreign Key Constraint for Clinic

In [625]:
alterClinic = """ALTER TABLE Clinic
                ADD COLUMN staffNo INT
                REFERENCES Staff(staffNo) ON UPDATE CASCADE ON DELETE CASCADE;"""

cursor.execute(alterClinic)

Inserting Tuples Into Each Relation

In [626]:
#inserting tuples into Clinic relation 
insertClinic = """INSERT INTO Clinic	
                  VALUES ('BA210', 'Big Apple Pet Clinic', '111 NY Ave', 
                          6461234567, 'R541'),
                         ('PM132', 'Pawsome Manhattan Pet Clinic', 
                          '341 Union Square', 6460987654, 'J592'),
                         ('BB520', 'Brooklyn Buddies Pet Clinic', 
                          '331 Bushwick Blvd', 6466788907, 'C522'),
                         ('PA324', 'Pawsome Arlington Pet Clinic', 
                          '555 Arlington Ave', 6461233214, 'S543'),
                         ('NY102', 'New Yorkies Pet Clinic', '728 Glendale St', 
                          6465438695, 'L568');"""

cursor.execute(insertClinic)

In [627]:
#inserting tuples into Staff relation
insertStaff = """INSERT INTO Staff
                 VALUES ('E115', 'BB520', 'Emma Emerson', '723 Bushwick Blvd', 
                         9543251923, '2000-06-11', 'Staff', 60000),
                        ('J592', 'BA210', 'Jenny Jenkins', '229 Pizza Pl', 
                         7866123456, '1977-02-10', 'Manager', 95000),
                        ('J122', 'PA324', 'John Johnson', '284 Anchor Ave', 
                         3050987654, '1982-03-25', 'Staff', 70000),
                        ('R541', 'PM132', 'Robert Roberts', '897 Bear Rd', 
                         6461112343, '1992-05-04', 'Manager', 85000),
                        ('S788', 'BA210', 'Steven Stephens', '909 Subway St', 
                         9544590080, '1982-06-04', 'Staff', 82000),
                        ('W194', 'NY102', 'Willa Williams', '526 Glendale St', 
                         6469994432, '1970-10-10', 'Staff', 75000),
                        ('L568', 'NY102', 'Liam Leon', '314 Subway St', 
                         6460525731, '1979-07-22', 'Manager', 90000);"""

cursor.execute(insertStaff)

In [628]:
#inserting tuples into Owner relation
insertOwner = """INSERT INTO Owner
                 VALUES ('MM352', 'Mickey Michaels', '225 Bay St', 
                         9546557890),
                        ('CC248', 'Cristina Christens', '314 Subway St', 
                         3055039876),
                        ('JJ225', 'James Jameson', '516 NY Ave', 7887623425),
                        ('DD912', 'Diego Delgado', '182 Anchor Ave', 3050123210),
                        ('MM410', 'Martina Martinez', '837 Buschwick Blvd', 
                         6468769090);"""

cursor.execute(insertOwner)

In [629]:
#inserting tuples into Pet relation
insertPet = """INSERT INTO Pet
               VALUES ('D320', 'DD912', 'PA324', 'Bo', '2018-01-17', 'Dog', 
                       'Cane Corso', 'Black'),
                      ('C100', 'CC248', 'NY102', 'Misty', '2020-08-02', 'Cat', 
                       'Ragdoll', 'Colorpoint'),
                      ('D283', 'MM352', 'BB520', 'Fluffy', '2016-04-12', 'Dog', 
                       'Pomeranian', 'Cream'),
                      ('H101', 'JJ225', 'BA210', 'Ad', '2021-11-25', 'Hamster', 
                       'Syrian', 'Gold'),
                      ('C205', 'MM410', 'PM132', 'Lady', '2017-05-04', 'Cat', 
                       'Siamese', 'Seal Point'),
                      ('H121', 'JJ225', 'BA210', 'Simon', '2021-10-21', 
                       'Hamster', 'Syrian', 'Gold'),
                      ('D375', 'CC248', 'NY102', 'Ham', '2017-11-02', 'Dog', 
                       'French Bulldog', 'Blonde');"""

cursor.execute(insertPet)

In [630]:
#inserting tuples into Examination relation
insertExam = """INSERT INTO Examination
                VALUES ('A580', 'E115', 'H101', 'Annual', 'Routine checkup', 
                        '2022-06-11', NULL),
                       ('A602', 'J122', 'D283', 'Annual', 'Routine checkup, ear infection found', 
                        '2021-06-08', 'Prescribed antibiotics'),
                       ('X229', 'E115', 'D320', 'Leg pain, limping', 'XRay front left leg', 
                        '2019-01-19', 'Cast, prescribed pain medication'),
                       ('A849', 'W194', 'C205', 'Annual', 'Routine checkup', 
                        '2022-09-28', NULL),
                       ('X300', 'S788', 'D375', 'Limping', 'XRay back left leg', 
                        '2020-12-07', 'Cast, prescribed pain medication'),
                       ('S113', 'W194', 'C100', 'Swallowed buttons', 
                        'Induced vomiting', '2018-09-24', NULL);"""

cursor.execute(insertExam)

Printing Relations as pandas Dataframes

Clinic

In [631]:
#selecting values in Clinic
selectAllClinicValues = """SELECT clinicNo, name, address, telephoneNumber, 
                        staffNo AS managerNo
                        FROM Clinic"""

cursor.execute(selectAllClinicValues)

In [632]:
#creating/printing pandas dataframe for Clinic
col_names = [row[0] for row in cursor.description]

table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  clinicNo                          name            address  telephoneNumber  \
0    BA210          Big Apple Pet Clinic         111 NY Ave       6461234567
1    PM132  Pawsome Manhattan Pet Clinic   341 Union Square       6460987654
2    BB520   Brooklyn Buddies Pet Clinic  331 Bushwick Blvd       6466788907
3    PA324  Pawsome Arlington Pet Clinic  555 Arlington Ave       6461233214
4    NY102        New Yorkies Pet Clinic    728 Glendale St       6465438695

  managerNo
0      R541
1      J592
2      C522
3      S543
4      L568

In [633]:
df.columns

Index(['clinicNo', 'name', 'address', 'telephoneNumber', 'managerNo'], dtype='object')

Staff

In [634]:
#selecting values in Staff
selectAllStaffValues = """SELECT *
                       FROM Staff"""

cursor.execute(selectAllStaffValues)

In [635]:
#creating/printing pandas dataframe for Staff
col_names = [row[0] for row in cursor.description]

table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  staffNo clinicNo             name            address  telephoneNumber  \
0    E115    BB520     Emma Emerson  723 Bushwick Blvd       9543251923
1    J592    BA210    Jenny Jenkins       229 Pizza Pl       7866123456
2    J122    PA324     John Johnson     284 Anchor Ave       3050987654
3    R541    PM132   Robert Roberts        897 Bear Rd       6461112343
4    S788    BA210  Steven Stephens      909 Subway St       9544590080
5    W194    NY102   Willa Williams    526 Glendale St       6469994432
6    L568    NY102        Liam Leon      314 Subway St       6460525731

          DOB position  salary
0  2000-06-11    Staff   60000
1  1977-02-10  Manager   95000
2  1982-03-25    Staff   70000
3  1992-05-04  Manager   85000
4  1982-06-04    Staff   82000
5  1970-10-10    Staff   75000
6  1979-07-22  Manager   90000

In [636]:
df.columns

Index(['staffNo', 'clinicNo', 'name', 'address', 'telephoneNumber', 'DOB',
       'position', 'salary'],
      dtype='object')

Owner

In [637]:
#selecting values in Owner
selectAllOwnerValues = """SELECT *
                       FROM Owner"""

cursor.execute(selectAllOwnerValues)

In [638]:
#creating/printing pandas dataframe for Owner
col_names = [row[0] for row in cursor.description]

table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  ownerNo                name             address  telephoneNumber
0   MM352     Mickey Michaels          225 Bay St       9546557890
1   CC248  Cristina Christens       314 Subway St       3055039876
2   JJ225       James Jameson          516 NY Ave       7887623425
3   DD912       Diego Delgado      182 Anchor Ave       3050123210
4   MM410    Martina Martinez  837 Buschwick Blvd       6468769090

In [639]:
df.columns

Index(['ownerNo', 'name', 'address', 'telephoneNumber'], dtype='object')

Pet

In [640]:
#selecting values in Pet
selectAllPetValues = """SELECT *
                        FROM Pet"""

cursor.execute(selectAllPetValues)

In [641]:
#creating/printing pandas dataframe for Pet
col_names = [row[0] for row in cursor.description]

table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  petNo ownerNo clinicNo    name         DOB  species           breed  \
0  D320   DD912    PA324      Bo  2018-01-17      Dog      Cane Corso
1  C100   CC248    NY102   Misty  2020-08-02      Cat         Ragdoll
2  D283   MM352    BB520  Fluffy  2016-04-12      Dog      Pomeranian
3  H101   JJ225    BA210      Ad  2021-11-25  Hamster          Syrian
4  C205   MM410    PM132    Lady  2017-05-04      Cat         Siamese
5  H121   JJ225    BA210   Simon  2021-10-21  Hamster          Syrian
6  D375   CC248    NY102     Ham  2017-11-02      Dog  French Bulldog

        color
0       Black
1  Colorpoint
2       Cream
3        Gold
4  Seal Point
5        Gold
6      Blonde

In [642]:
df.columns

Index(['petNo', 'ownerNo', 'clinicNo', 'name', 'DOB', 'species', 'breed',
       'color'],
      dtype='object')

Examination

In [643]:
#selecting values in Examination
selectAllExamValues = """SELECT *
                         FROM Examination"""

cursor.execute(selectAllExamValues)

In [644]:
#creating/printing pandas dataframe for Examination
col_names = [row[0] for row in cursor.description]

table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  examNo staffNo petNo     chiefComplaint  \
0   A580    E115  H101             Annual
1   A602    J122  D283             Annual
2   X229    E115  D320  Leg pain, limping
3   A849    W194  C205             Annual
4   X300    S788  D375            Limping
5   S113    W194  C100  Swallowed buttons

                            description    dateSeen  \
0                       Routine checkup  2022-06-11
1  Routine checkup, ear infection found  2021-06-08
2                   XRay front left leg  2019-01-19
3                       Routine checkup  2022-09-28
4                    XRay back left leg  2020-12-07
5                      Induced vomiting  2018-09-24

                       actionsTaken
0                              None
1            Prescribed antibiotics
2  Cast, prescribed pain medication
3                              None
4  Cast, prescribed pain medication
5                              None

In [645]:
df.columns

Index(['examNo', 'staffNo', 'petNo', 'chiefComplaint', 'description',
       'dateSeen', 'actionsTaken'],
      dtype='object')

Querying Values from Relations

Info is printed as a pandas dataframe for easy viewing

In [646]:
#Q: Find how many pets owner number JJ225 owns.
queryNumPets = """SELECT o.ownerNo, COUNT(petNo) AS petCount
                  FROM OWNER o, PET p
                  WHERE o.ownerNo = p.ownerNo
                  AND o.ownerNo = 'JJ225';"""

cursor.execute(queryNumPets)

#printing answer
col_names = [row[0] for row in cursor.description]
table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  ownerNo  petCount
0   JJ225         2

In [647]:
#Q: Find how many dogs are registered in clinic number NY102.
queryRegisteredDogs = """SELECT c.clinicNo, species, COUNT(petNo) AS dogCount
                         FROM CLINIC c, PET p
                         WHERE c.clinicNo = p.clinicNo
                         AND c.clinicNo = 'NY102'
                         AND species = 'Dog';"""

cursor.execute(queryRegisteredDogs)

#printing answer
col_names = [row[0] for row in cursor.description]
table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

  clinicNo species  dogCount
0    NY102     Dog         1

In [648]:
#Q: Find the average salary of the staff in Big Apple Pet Clinic.
queryAvgSalary = """SELECT c.name, AVG(salary) AS avgStaffSalary
                    FROM CLINIC c, STAFF s
                    WHERE c.clinicNo = s.clinicNo
                    AND c.name = 'Big Apple Pet Clinic';"""

cursor.execute(queryAvgSalary)

#printing answer
col_names = [row[0] for row in cursor.description]
table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

                   name  avgStaffSalary
0  Big Apple Pet Clinic         88500.0

In [649]:
#Q: List the names and species of the pets that have had annual checkups in 2022.
queryAnnuals = """SELECT dateSeen, chiefComplaint, name, species
                  FROM PET p, EXAMINATION e
                  WHERE p.petNo = e.petNo
                  AND chiefComplaint = 'Annual'
                  AND dateSeen LIKE '2022%';"""

cursor.execute(queryAnnuals)

#printing answer
col_names = [row[0] for row in cursor.description]
table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

     dateSeen chiefComplaint  name  species
0  2022-06-11         Annual    Ad  Hamster
1  2022-09-28         Annual  Lady      Cat

In [650]:
#Q: List the names and positions of the staff members who have performed X-Rays
#   and the actions taken at the end of those examinations.
queryXRays = """SELECT name, position, description, actionsTaken
                FROM STAFF s, EXAMINATION e
                WHERE s.staffNo = e.staffNo
                AND description LIKE '%XRay%';"""

cursor.execute(queryXRays)

#printing answer
col_names = [row[0] for row in cursor.description]
table_data = cursor.fetchall()
df = pd.DataFrame(table_data, columns = col_names)
print(df)

              name position          description  \
0     Emma Emerson    Staff  XRay front left leg
1  Steven Stephens    Staff   XRay back left leg

                       actionsTaken
0  Cast, prescribed pain medication
1  Cast, prescribed pain medication

Closing Database

In [651]:
#committing any changes to the database
db_connect.commit()

In [652]:
#closing connection when done to be sure changes committed, else lost
db_connect.close()